.page-link.active, .active > .page-link {
    background-color: #2e3aa5 !important; /* lighter green on hover */
    border-color: #20c997 !important;
    color: white !important;
}

.dt-processing{
    background: transparent !important;  /* removes any background color */
    box-shadow: none !important;         /* removes any card shadow */
    border: none !important;
}
.dt-processing > div > div{
    display: none !important;
}
